* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

body {
    background-color: rgba(0, 72, 68, 0.75);
}

/* NavBar */
#navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav-logo {
    width: 6%;
}

#logo-img {
    background-image: url("Resources/logo.png");
    background-size: cover;
    height: 50px;   
    width: 100%;
}

#add-up {
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}

#loc {
    display: flex;
}

#add-down {
    color: white;
    font-size: 1rem;
    margin-left: 4px;
    font-weight: bolder;
}

#nav-search {
    display: flex;
    width: 60%;
    height: 40px;
    border-radius: 7px;
    justify-content: space-evenly;
}

#nav-search:hover {
    border: 3px solid orange;
}

#select-menu {
    background-color: #F3F3F3;
    font-size: 1rem;
    width: 75px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

#searchbar {
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 10px;
}

#search {
    width: 75px;
    display: flex;
    font-size: 1.5rem;
    color: black;
    background-color: #FEBD69;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    justify-content: center;
    align-items: center;
}

#msg {
    font-size: 0.85rem;
    margin-left: 5px;
    color: #CCCCCC;
}

#acc-lst {
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    border: none
}

#ret {
    font-size: 0.85rem;
    margin-left: 1px;
    color: #CCCCCC;
}

#ord {
    color: white;
    font-weight: bolder;
    font-size: 1rem;
}

#cart a{
    color: white;
    text-decoration: none;
}

#cart-logo {
    font-size: 1.5rem;
    display: flex;
    align-items: end;
}

#cart-text {
    color: white;
    font-weight: bolder;
    font-size: 1rem;
}

/* Panel */
#panel {
    height: 40px;
    background-color: #222F3D;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#panel a {
    color: white;
    text-decoration: none;
}

#ind-ops {
    display: flex;
    font-size: 1rem;
}

#ind-ops a {
    color: white;
    text-decoration: none;
}

#ind-ops:hover {
    text-decoration: 2px solid underline;
}

/* Hero Section */
#hero-sec {
    height: 500px;
    background-image: url(Resources/hero-img.jpg);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    z-index: -10;
    transition-duration: 1s;
}

#hero-sec:hover {
    z-index: -1000000;
    transform: scaleX(1.03);
}

#hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    width: 70%;
    border-radius: 5px;
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 100px;

    transition-duration: 0.5s;
}

#hero-msg a {
    text-decoration: none;
    color: #007185;
}

/* Shop Section */
#menu {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

#menu p {
    color: #007185;
}

#menu h2 {
    font-size: 1.75rem;
    font-weight: 900;
}

.box {
    height: 420px;
    width: 21%;
    background-color: white;
    padding: 20px 1rem 15px 1rem;
    margin-top: 25px;

    transition-duration: 0.25s;
    transition-timing-function: ease-in;
}

.box:hover {
    transform:scale(1.05);
    border-radius: 5px;
}

.box-img {
    height: 340px;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    background-size: cover;

    transition-duration: 0.25s;
    transition-timing-function: ease-in;
}

#para {
    text-decoration: none;
    color: #007185
}

#para:hover {
    text-decoration: 2px solid underline;
}

h2 a {
    text-decoration: none;
    color: black;
}

/* Footer */
footer {
    margin-top: 15px;
}

#to-top {
    background-color: #37475A;
    color: white;
    height: 50px;
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

#butt {
    background-color: #37475A;
    border: none;
    color: white;
    font-size: 1rem;
}

#butt:hover {
    text-decoration: 1px solid underline;
}

#lsts {
    background-color: #222F3D;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bold;

    display: flex;
    justify-content: space-evenly;
}

#lsts p {
    font-size: 1.42rem;
}

#lsts a {
    color: #DDDDDD;
    font-size: 0.85rem;
    font-weight: 300;
    margin-top: 10px;
    text-decoration: none;

    display: block;
}

#lsts a:hover {
    text-decoration: 1px solid underline;
}

#legal {
    background-color: #0F1111;
    color: #DDDDDD;
    height: 69px
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 0.5px solid #a4a4a4;
    padding: 14px;
}

#links a {
    color: rgb(202, 202, 202);
    text-decoration: none;

    padding-left: 25px;
    padding-right: 25px;
}

#links a:hover {
    text-decoration: 1px solid underline;
}

#copyright {
    text-align: center;
    color: #bebebe;
}
